/* TO DO CSS
Style body
Style bingo container
Style regular bingo number
Style selected bingo number
Style buttons that generate numbers and user boards
*/

body {
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: #00db71;
    text-transform: uppercase;
    font-weight: bold;
}

#bingo-container {
    border-style: solid;
    border-width: 3px;
    border-color: #4a4a4a;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
    width: 60%;
}

.number {
    background-color: rgb(26, 26, 26);
    display: inline-block;
    width: 12.5%;
    min-height: 64px;
    text-align: center;
    padding-top: 32px;
    font-size: x-large;
    border-color: rgb(49, 49, 49);
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.selected {
    border-color: gray;
    background-color: #474747;
}



